.footer {
    .main { 
        background-color: $secondary-color;
        color: $primary-color;
        padding: 2rem;
        display: flex;

        & > * {
            flex: 1;
            display: grid;
            place-content: center;
            text-align: center;

            &.show img {
                margin: 0 auto;
                display: block;
                height: 10vh;
                margin-bottom: 1rem;
            }

            .socials {
                padding: 1rem 0 0 0;
                display: flex;
                justify-content: center;

                svg {
                    height: 5vh;
                    fill: $primary-color;
                    stroke: $secondary-color;
                    stroke-width: 1px;
                    transition: filter .3s ease-out;

                    &:is(:hover, :focus-within) {
                        filter: brightness(.7);
                    }
                }
            }

        }
    }

    aside {
        background-color: $primary-color-variant;
        color: $secondary-color;
        display: grid;
        place-items: center;
        font-size: .8rem;
        padding: .3rem;
    }
}