.main {
    display: grid;
    gap: 10vh;


    .section {
        padding: 8vh 8vw ;
        max-width: $container-size;
        margin: 0 auto;
        width: 100%;

        &.specialties h2 {
            margin-bottom: 2.5rem;
        }

        &.infos {
            min-height: 30rem;
            padding: 8vh 0 0 0;
            max-width: unquote("cal(8vw + 1200px)");
            margin: 0 0 0 auto;

            & > :first-child {
                height: 100%;
            }
        }
        
        .presentation {
            padding: 1rem 0;
        }
    
        h2 {
            margin-bottom: 1rem;
            text-align: center;
        }

       
    }
    
}
