.main {
    display: grid;
    gap: 10vh;


    .section {
        padding: 8vh 8vw ;
        max-width: 1200px;
        margin: 0 auto;

        &.specialties h2 {
            margin-bottom: 2.5rem;
        }

        &.infos {
            min-height: 30rem;
            padding: 8vh 8vw 0 8vw;
        }
        
        .presentation {
            padding: 1rem 0;
        }
    
        h2 {
            margin-bottom: 1rem;
            text-align: center;
        }

       
    }
    
}
