$primary-color: #f1f1f1;
$primary-color-variant: #f1f1f1bb;

$secondary-color: #121209;
$secondary-color-variant: rgba(18, 18, 10, .77);

$accent-color : rgb(255, 217, 0);

$header-height : 9vh;

$website-padding: 5vw;
$basic-radius: 5px;
$basic-shadow: 0 0 2px 1px #0000001f;


$phone-breakpoint: 920px;
$container-size:  1600px;