.header {
    height: $header-height;
    position: fixed;
    top: 0;
    padding: 1vh 5vw;
    color: $primary-color;
    z-index: 1000;
    left: 0;
    right: 0;
    backdrop-filter: blur(12px);
    transition: background-color .5s ease-in-out;
    

    &.scrolled {
        background-color: $primary-color-variant;
        color: $secondary-color;
        box-shadow: inset 0px -1px 1px $secondary-color-variant,
                    0 0 5px 1px $secondary-color-variant;
    }

    nav {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        & > * {
            flex: 1
        }
        .logo, .logo > :first-child, .logo img {
            height: 100%;
        }
        
        ul {
            display: flex;
            gap: 1rem;
            justify-content: center;
        }

        .extraLinks {
            display: flex;
            gap: 1rem;
            justify-content: flex-end;

            a {
                margin: 0;
            }
        }
    }
}