.container {
    display: grid;
    gap: 1.5rem 3rem;

    @media screen and (min-width: $phone-breakpoint) {
        & {
            grid-template-columns: 1fr 1fr;         
        }
        
        &.larger {
            grid-template-columns: 1fr 1.5fr;         
        }

        &.threeCol {
            grid-template-columns: 1fr 1fr 1fr;         
        }
    }
}